@import './normalize.css';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', 'Times New Roman', Times, serif;
}

body {
  font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 4.5rem;
  text-align: center;
  display: inline;
}

.title-icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8rem;
  background-image: url('../assets/dove-flying.webp');
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}

.dove-icon {
  height: 3.7rem;
}
