@import './normalize.css';

/* Global styles */

* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', 'Times New Roman', Times, serif;
}

body {
  font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: url(../assets/white-bird-cursor.png), auto;
}

/* Theme toggle styles */

.dark-mode-checkbox {
  display: none;
}

nav label {
  cursor: pointer;
  background-image: url(../assets/dove.png);
  width: 4rem;
  height: 4rem;
  display: block;
  background-size: contain;
  position: relative;
  left: 1rem;
  top: 0.5rem;
}

/* Dark mode general */
.dark-mode-checkbox:checked ~ header,
.dark-mode-checkbox:checked ~ main,
.dark-mode-checkbox:checked ~ footer {
  background-color: #121212;
  color: rgb(239, 239, 239);
}

/* Dark mode navigation */
.dark-mode-checkbox:checked ~ header nav {
  background-color: #121212;
}

.dark-mode-checkbox:checked ~ header nav .toggle-text,
.dark-mode-checkbox:checked ~ header nav ul li a {
  color: rgb(239, 239, 239);
}

.dark-mode-checkbox:checked ~ header nav .toggle-text::before {
  content: 'Light Mode?';
}

.dark-mode-checkbox:checked ~ header nav ul li a:hover {
  color: #ffffff61;
}

.dark-mode-checkbox:checked ~ header label {
  background-image: url(../assets/white-dove.png);
}

.dark-mode-checkbox:checked ~ header .background-image,
.dark-mode-checkbox:checked ~ main aside {
  background-color: #292929;
  box-shadow: 2px 2px 8px 0px rgba(255, 255, 255, 0.072);
}

.dark-mode-checkbox:checked ~ header nav .bouncing-arrow {
  background-image: url(../assets/left-arrow-white.png);
}

/* Header styles */

h1 {
  font-size: 4.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 8px rgb(0, 0, 0, 0.3);
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 2s;
  animation-timing-function: ease-in-out;
  width: calc(100vw - 5rem);
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: relative;
  height: 100vh;
  scroll-snap-align: end;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  position: fixed;
}

.dove-icon {
  height: 3.7rem;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5rem;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(208, 105, 102);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.093);
}

.bouncing-arrow {
  width: 40px;
  height: 40px;
  background: url(../assets/left-arrow-black.png);
  animation: bounce 1.2s infinite;
  display: block;
  position: relative;
  bottom: 42px;
  left: 6.5rem;
  background-size: contain;
}

.toggle-text {
  position: relative;
  bottom: 88px;
  left: 9.5rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.toggle-text::before {
  content: 'Dark Mode?';
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-5px);
  }
}

nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 40rem;
  height: 100%;
  margin: 0;
  align-items: center;
}

nav > ul li {
  list-style-type: none;
}

nav > ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 15px 30px;
}
nav > ul li a:hover {
  text-decoration: none;
  color: rgb(161, 81, 79);
  font-weight: 500;
}

/* Main/Aside styles */

main {
  display: flex;
  padding: 8.5rem;
  height: 100vh;
  align-items: center;
  z-index: 2;
  position: relative;
  background-color: #f6f0f2;
  scroll-snap-align: start;
  font-size: 1.5vw;
}

.first-section {
  flex-grow: 3;
  padding-right: 7rem;
  overflow: hidden;
}

aside {
  background-color: rgba(208, 105, 102);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.398);
}

aside h2 {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 8px rgb(0, 0, 0, 0.3);
}

aside section {
  margin-top: 1vw;
  display: grid;
  grid-template-columns: 10vw 10vw;
  gap: 0.5rem;
}

aside section a img {
  width: 100%;
  height: 100%;
  margin: auto;
}

aside section a img:hover {
  filter: grayscale(100%);
  transition: 0.6s;
}

/* Footer Styles */
footer {
  font-size: 1rem;
  background-color: #f6f0f2;
  position: relative;
  scroll-snap-align: start;
}

footer hr {
  margin: 0;
}

footer p {
  margin: 0.8rem 0.8rem 0.8rem 0;
  padding-left: 4rem;
  padding-right: 4rem;
  text-align: center;
}

.author-date-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.author-date-wrapper p {
  padding: 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 25px;
  background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    145deg,
    rgba(208, 105, 102, 0.688),
    rgb(208, 105, 102)
  );
  border-radius: 10px;
  border: 4px solid #f9f9f9;
}

::-webkit-scrollbar-track {
  background-color: #f6f0f2;
}

/* Responsive styles */

@media screen and (max-width: 1005px) {
  h1 {
    font-size: 7vw;
  }
}

@media screen and (max-width: 888px) {
  main {
    flex-direction: column;
    gap: 3rem;
    height: auto;
    font-size: 1.2rem;
    padding: 4rem;
  }
  .first-section {
    padding: 0;
    text-align: center;
  }

  aside article h2 {
    font-size: 0.9rem;
  }
  aside section {
    margin-top: 1vw;
    display: grid;
    grid-template-columns: 10rem 10rem;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  html {
    scroll-snap-type: none;
  }
  h1 {
    font-size: 10vw;
  }
  main {
    font-size: 0.6;
  }
  aside article {
    max-width: calc(100vw - 8rem);
  }
  aside section {
    grid-template-columns: 25vw 25vw;
  }
}
